.box {
  background-color: #FFFFFF
  box-shadow: 1px 5px 20px rgba(0,0,0,0.1)
  border-radius: 5px
  padding: 2em 2em 2em 2em

  small {
    margin-top: 2em
    color: #777777
    font-size: 14px
    font-weight: 700
  }
}
