_color-deep-purple-500 = #673ab7
_color-deep-purple-700 = #512da8
_color-red-500         = #f44336
_color-red-900         = #b71c1c
_color-amber-700       = #ffa000
_color-orange-900      = #e65100
_color-green-900       = #1b5e20
_color-light-green-900 = #33691e

_breakpoint-nav = 700px
_breakpoint-mobile = 500px
_breakpoint-tablet = 800px

_maxwidth = 1600px
